[user]
	name = John Shearer
	email = john@ultranaut.com
[alias]
  cleanup = ! git fsck && git prune && git gc
  realclean = ! git fsck && git prune && git gc --aggressive
  ; via http://oli.jp/2012/git-powerup/
  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
[color]
  status = auto
  branch = auto
  ui = auto
  interactive = auto
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  pager = less -r
	quotepath = off
[push]
	default = simple
[credential]
  helper = osxkeychain
[init]
	defaultBranch = master
