# --- zsh -------------------------------------------------------------
# Contains machine-specific settings
.zshenv

# --- Vim-plug --------------------------------------------------------
# plugins directory
.vim/plugged/
# created on upgrades
plug.vim.old

# --- Homebrew --------------------------------------------------------
Brewfile.lock.json

# --- spell files -----------------------------------------------------
.vim/spell/*.spl
