prefix=/Users/ultranaut/.npm-packages
init.author.name=John Shearer
init.author.email=john@ultranaut.com
init.author.url=http://ultranaut.com
//registry.npmjs.org/:_authToken=bd572d24-f12a-4d68-9164-32009152d4fe
